/*common styles for all pages*/
.work-sans-font {
  font-family: "Work Sans", serif;
}   
.common-margin{
    margin: 0 9%;
}
.common-font-style{
    color: rgba(14, 14, 14, 0.7);
    letter-spacing: 0%;
}
.common-top-margin{
    margin-top: 80px;
}
/*btn for section 6 and 7*/ 
.common-btn{
    background-color: rgb(0, 106, 80);
    border: none;
    padding: 13px 26px;
    border-radius:8px ;
    color: white;
    cursor: pointer;

}
.common-btn:hover{
    background-color: red;
    color: white;
}
/*header section*/
/*nav desgin*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-size: 30px;
}
nav button{
    color: rgb(0, 106, 80);
    background-color: none;
    border:1px solid rgb(0, 106, 80);
    border-radius: 8px;
    width: 100px;
    height: 40px;
    cursor: pointer;
}
nav button:hover{
    background-color: rgb(0, 106, 80);
    color: white;}
/*banner desgin*/
.banner{
    padding-left: 20px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-paragraph{
    color: rgba(14, 14, 14, 0.5);
    font-weight: bold;
}
.banner-btn{
    border: none;
    padding: 10px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    height: 40px;
    color: white;
    cursor: pointer;

}
.banner-btn:hover{
    background-color: red;
    color: white;
}
/*main style*/
/*pillars of bangladesh 2.0*/


.pillar-card-paraent{
    display: flex;
    gap: 24px;
}
.pillar-card{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.pillar-card-h-3{
    color: rgba(14, 14, 14, 0.8);
    letter-spacing: 0%;
}
.pillar-card-img{
    width: 49.66px;
    height: 53.09px;
}
/*the vision of future*/
.section-3{
    margin-top: 50px;
    letter-spacing: 0px;
}
.section-3-h{
    font-size: 40px;
    font-weight: bolder;
}
.section-3-div{
    display: flex;
    margin-top: 60px;
    gap: 30px;
}
.section-3-card-1{
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
}
.section-3-card-2{
    background-color: rgb(198, 228, 214);
    border-radius: 16px;
    padding:32px ;
}
.section-3-card-3{
    background-color: rgb(247, 235, 207);
    border-radius: 16px;
    padding:32px ;
}
.section-3-btn-1{
    border: none;
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    background-color: rgb(84, 144, 245);
    color: white;
}
.section-3-btn-1:hover{
    background-color: aqua;
    color: white;
}

.section-3-btn-2{
    border: none;
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    background-color: rgb(9, 161, 92);
    color: white;
}
.section-3-btn-2:hover{ background-color: aqua;
    color: white;

}
.section-3-btn-3{
    border: none;
    border-radius: 8px;
    padding: 11px 20px 11px 20px;
    background-color: rgb(255, 194, 57);
    color: white;
}
.section-3-btn-3:hover{background-color: aqua;
    color: white;
}
/*quotation*/
.quotation{
    
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 30px;
    background-image: url(../assets/png-transparent-drawing-quotation-mark-computer-icons-quotation-angle-photography-monochrome.png);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: top left;
}
.quotation-heading{
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 0%;
    
}

/*your opinion matter*/
table{
    border-collapse: collapse;
    width: 100%;
    height: 80px;
    
}
thead{
    background-color: rgb(198, 228, 214);
    
}
td, th {
    border: 2px solid rgba(14, 14, 14, 0.15);
    padding: 15px;
}
select{
    background-color: rgb(198, 228, 214);
}
/*recrnt news*/
.news-headline{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 0;
}
.news-1{
    margin-top: 30px;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.news-2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.satlelite-img{
    width: 350px;
    height: 250px;
    border-radius: 24px;
}
/*donnation section*/
.donnation{
    text-align: center;
}
.btn-paraent{
    display: flex;
    justify-content: space-around;
}
.donnate-btn{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 35px;
    width: 200px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 25px;
    font-weight: 700;

}
.donnate-btn-2{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 35px;
    width: 200px;
    background-color: rgb(198, 228, 214);
    color: rgba(14, 14, 14, 0.8);
    font-size: 25px;
    font-weight: 700;
}


.donnate-btn:hover{
    background-color: green;
    color: red;
}
.donnate-btn-2:hover{
    background-color: green;
    color: red;
}
.donnate-text{
    margin: 30px 0;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    width: 400px;
    padding: 20px 40px 20px 40px;
    text-align: center;
}